.setupPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -160px;
    width: 320px;
    height: 420px;
    padding: 36px;
    -webkit-box-shadow: 0 0 100px rgba(0,0,0,.08);
    box-shadow: 0 0 100px rgba(0,0,0,.08);
}

.setupPanelHeader {
    padding-bottom: 20px;
}

.setupTitle {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    color: #1890ff;
}

.setup-form {
    max-width: 300px;
}

.setup-form-button {
    width: 100%
}